header{
  background-color: #FFF;
  height: 100px;
  display: flex;
  align-items: center;
  padding:0 20px;
  justify-content: space-between;
  color: #1A1A1A;
}

section{
  padding: 50px 20px;
}




@media only screen and (max-width: 600px) {
  .app {
    display: block;
    padding: 20px;
  }

  .app>div {
    margin-bottom: 100px;
  }
}

